@tailwind base;
@tailwind components;
@tailwind utilities;

.ct-container {
  @apply container mx-auto px-8 lg:px-4;
}

html {
  scroll-behavior: smooth;
}

html *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bbb;
}

html *::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

html *::-webkit-scrollbar-track {
  background-color: transparent;
}

html {
  font-family: 'Inter', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
